.Container {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 30px;
}

.rowContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Container form {
    padding: 6px;
}

.Container form h3 {
    margin-bottom: 6px;
}

.Container form button {
    margin-top: 6px;
}

.rowContent {
    padding: 5px;
}

.rowContent input + input{
    margin-left: 5px;
}
